{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Alazea - Gardening &amp; Landscaping HTML Template</title>
    <link rel="icon" href=" {% static 'main-static/img/core-img/favicon.ico' %}">
    <link rel="stylesheet" href="{% static 'main-static/css/style.css' %}">
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <style>
      
      input[type="file"] {
        position: absolute;
        z-index: -1;
        top: 10px;
        left: 8px;
        font-size: 17px;
        color: #b8b8b8;
      }
      .button-wrap {
        position: relative;
      }
      .button {
        display: inline-block;
        padding: 8px 18px;
        cursor: pointer;
        border-radius: 24px;
        background-color: #42bfb0;
        font-size: 16px;
        font-weight: bold;
        color: #fff;
      }
    </style>

</head>

<body>
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-circle"></div>
        <div class="preloader-img">
            <img src="img/core-img/leaf.png" alt="">
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.SUCCESS %}
        <script>swal({
                title: "Success!",
                text: "{{message}}",
                icon: "success",
                button: "OK",
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.WARNING %}
        <script>swal({
                title: "Warning :)",
                text: "{{message}}",
                icon: "warning",
                button: "OK",
            
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <script>swal({
                title: "info :)",
                text: "{{message}}",
                icon: "info",
                button: "OK",
            });
        </script>
        {% elif message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}
        <script>swal({
                title: "error :)",
                text: "{{message}}",
                icon: "error",
                button: "OK",
            });
        </script>
        
        {% endif %}
        {% endfor %}
        {% endif %}

    <header class="header-area">
        <div class="alazea-main-menu">
            <div class="classy-nav-container breakpoint-off">
                <div class="container">
                    <nav class="classy-navbar justify-content-between" id="alazeaNav">
                        <a href="" class="nav-brand"><img src=" {% static 'main-static/img/core-img/logomain.png' %}"></a>
                        <div class="classy-navbar-toggler">
                            <span class="navbarToggler"><span></span><span></span><span></span></span>
                        </div>
                        <div class="classy-menu">
                            <div class="classycloseIcon">
                                <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                            </div>
                            <div class="classynav">
                                <ul>
                                  <li><a href="{% url 'user_dashboard' %}">Dashboard</a></li>
                                  <li><a href="{% url 'user_plantdd' %}">Plant Disease Detection</a></li>
                                  <li><a href="{% url 'user_profile' %}">My Profile</a></li>
                                  <li><a href="{% url 'logout' %}">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </nav>
                    <div class="search-form">
                        <form action="#" method="get">
                            <input type="search" name="search" id="search"
                                placeholder="Type keywords &amp; press enter...">
                            <button type="submit" class="d-none"></button>
                        </form>
                        <div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <div class="breadcrumb-area">
        <div class="top-breadcrumb-area bg-img bg-overlay d-flex align-items-center justify-content-center"
            style="background-image: url(static/main-static/img/bg-img/24.jpg);">
            <h2>User Dashboard</h2>
        </div>
    </div>
    <div style="margin-top: 100px;"></div>
    <section style="background-color: #eee;">
        <div class="container py-5">
          <div class="row">
            <div class="col">
            </div>
          </div>
          <form method="post" enctype="multipart/form-data" onsubmit="return validate()">
            {% csrf_token %}
            <div class="row">
              <div class="col-lg-4 align-self-center">
                <div class="card mb-4">
                  <div class="card-body text-center">
                    <img src="media/{{i.profile_pic}}" alt="avatar"
                      class="rounded-circle img-fluid" style="width: 300px; height:300px">
                    <h5 class="my-3">{{i.first_name}}</h5><br>
                    <p>Edit Profile Pic</p>
                    <div class="d-flex justify-content-center mb-2">
                      <div class="button-wrap">
                        <label class="button" for="upload">&#9998; Edit</label>
                        <input id="upload" type="file" name="pic" value"{{i.}}">
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-8">
                <div class="card mb-4">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">First Name</p>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" value="{{i.first_name}}" name="firstname" id="firstname" >
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Last Name</p>
                      </div>
                      <div class="col-sm-9">
                        <input class="form-control" value="{{i.last_name}}" name="lastname" id="lastname" >
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Email</p>
                      </div>
                      <div class="col-sm-9">
                          <input class="form-control" value="{{i.email}}" name="email" id="email" readonly >
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Phone</p>
                      </div>
                      <div class="col-sm-9">
                          <input class="form-control" value="{{i.phone_number}}"  name="phone" id="phone" >
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Age</p>
                      </div>
                      <div class="col-sm-9">
                          <input class="form-control" value="{{i.Age}}" name="age" id="age" >
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">City</p>
                      </div>
                      <div class="col-sm-9">
                          <input class="form-control" value="{{i.city}}"  name="city" id="city">
                      </div>
                    </div>
                    <hr>
                    <div class="row">
                      <div class="col-sm-3">
                        <p class="mb-0">Password</p>
                      </div>
                      <div class="col-sm-9">
                          <input class="form-control" type="password" value="{{i.password}}"  name="password" id="password">
                      </div>
                    </div>
                    <div class="row justify-content-center mt-4">
                      <button class="btn btn-success" value="submit">Save Changes</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </section>

    <div style="margin-bottom: 100px;"></div>
    <footer class="footer-area bg-img" style="background-image: url(static/main-static/img/bg-img/3.jpg);">
        <div class="main-footer-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-6 col-lg-3 mx-4">
                        <div class="single-footer-widget">
                            <div class="footer-logo mb-30">
                                <a href="#"><img src="img/core-img/logo.png" alt=""></a>
                            </div>
                            <p>Lorem ipsum dolor sit samet, consectetur adipiscing elit. India situs atione mantor</p>
                            <div class="social-info">
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                                <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-lg-3 mx-4">
                        <div class="single-footer-widget">
                            <div class="widget-title">
                                <h5>CONTACT</h5>
                            </div>

                            <div class="contact-information">
                                <p><span>Address:</span> #2nd Floor, Siris Rd, Near L.B Nagar Metro Station Pillar No
                                    A1662, Snehapuri Colony, Hyderabad, Telangana 500074
                                </p>
                                <p><span>Phone:</span> +91 8555 8879 86 <br>+91 9912 2210 87</p>
                                <p><span>Email:</span> info@codebook.in</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="border-line"></div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="copywrite-text">
                            <p>This template is made with by <a href="https://www.codebook.com"
                                    target="_blank">CodeBook</a>
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <div class="footer-nav">
                            <nav>
                                <ul>
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">User Login</a></li>
                                    <li><a href="#">Admin Login</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <script>
      function validate() {
          var firstname = document.getElementById("firstname");
          var lastname = document.getElementById("lastname");
          var email = document.getElementById("email");
          var phone = document.getElementById("phone");
          var city = document.getElementById("city");
          var age = document.getElementById("age");
          var password = document.getElementById("password");

          if (firstname.value.trim() == "") {
              alert("Fill the firstname")
              return false;
          }
          if (lastname.value.trim() == "") {
              alert("Fill the lastname")
              return false;
          }
          if (email.value.trim() == "") {
              alert("Fill the email")
              return false;
          }
          if (phone.value.trim() == "") {
              alert("Fill the phone")
              return false;
          }
          if (city.value.trim() == "") {
              alert("Fill the city")
              return false;
          }
          if (age.value.trim() == "") {
              alert("Fill the age")
              return false;
          }
          if (password.value.trim() == "") {
              alert("Fill the password")
              return false;
          }
          if (password.value.length < 8) {
              alert("password is too short")
              return false;
          }
          else {
              true;
          }
      }
  </script>
    <script src=" {% static 'main-static/js/jquery/jquery-2.2.4.min.js' %}"></script>
    <script src=" {% static 'main-static/js/bootstrap/popper.min.js' %}"></script>
    <script src=" {% static 'main-static/js/bootstrap/bootstrap.min.js' %}"></script>
    <script src=" {% static 'main-static/js/plugins/plugins.js' %}"></script>
    <script src=" {% static 'main-static/js/active.js' %}"></script>
</body>

</html>